
@{
    ViewBag.Title = "Create";
}

<h2>Create New Team</h2>
<form action="/Team/Create" method="post">
    <div>
        <label>Name:</label><input type="text" name="TeamName" />
    </div>
    <div>
        <input type="submit" value="Create Team"/>
    </div>
</form>
