
@{
    ViewBag.Title = "Create";
}

<h2>Create Accolade</h2>
<form action="/Accolade/Create" method="post">
    <div>
        <label>Accolade Name:</label> <input type="text" name="AccoladeName" />
    </div>
    <div>
        <label>Year of Creation:</label> <input type="number"  name="AccoladeYear"/>
    </div>
    <div>
        <input type="submit" value="Create Accolade"/>
    </div>
</form>

