@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NBA Explorer</h1>
    <p class="lead">NBA Explorer is an application you can use to be able to add NBA players to the database and assigned them to thier respective team and give them thier rewarded accolades. You will be able to have the ability to Create, Update, Delete and Read all three tables in this database. Will also have the option to add image to players and teams table.</p>
</div>